* {
    box-sizing:border-box;
}
@font-face {
    font-family: 'FONT';
    src: url('StackSansHeadline-VariableFont_wght.ttf') format('truetype');
}
html, body {
    font-family:'FONT', sans-serif;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    margin:0;
    padding:0;
    background:#d0fe84;
    width:100%;
}
body {
    /* border:solid 4px; */
    display:flex;
    flex-direction: column;
}

main {
    /* display:flex; */
    padding:20px;
    width:100%;
    justify-content: space-between;
    display:none;
}

main.show {
    display:flex;
}

.message {
    display:flex;
    padding:20px;
    width:100%;
    justify-content: space-between;
    gap:20px;
}

input[type='text'] {
    color:#d0fe84;
    outline: none !important;
    background:black;
    -webkit-appearance:none;
    font-family:'FONT', sans-serif;
    padding:15px;
    border-radius:20px;
    width:100%;
    height:60px;
    font-size:18px;
    border:solid 2px black;
}

input::placeholder {
    color:#d0fe84;
}

button {
    border:solid 2px black;
    -webkit-appearance:none;
    background:#d0fe84;
    color:black;
    box-shadow: 2px 2px 0px black;
    font-family:'FONT', sans-serif;
    padding:15px;
    border-radius:20px;
    white-space: nowrap;
    display:flex;
    align-items: center;
    gap:5px;
    font-size: 16px;
    cursor:pointer;
}
form {
    display:flex;
    flex-wrap: nowrap;
    width:100%;
    gap:10px;
}

header {
    padding:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    padding:20px;
}

h1 {
    font-size:80px;
    margin:0px;
    padding:0px;
}

.wrapper {
    max-width:900px;
    padding:0 20px;
}